.quiz-container {
  text-align: center;
  margin-top: 20px;
}

.quiz-image {
  /* max-width: 40%; Image will scale down to fit its container */
  height: 40vh; /* Maintain aspect ratio */
}

.options {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* Allow options to wrap to the next line if necessary */
  justify-content: center; /* Center options horizontally */
}

.option {
  flex: 1; /* Equal width for all options */
  padding: 10px 20px;
  margin: 5px;
  border: 2px solid #333;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  font-size: 16px;
  flex-basis: 45%;
}

.option:hover {
  background-color: #eee;
}

.correct {
  background-color: green !important;
  color: white;
}

.wrong {
  background-color: red !important;
  color: white;
}

.ques{
  color: #888;
  font-weight: 600;
  font-size: 20px;
}

@media screen and (max-width: 768px) {

  .options {
    flex-direction: column; /* Stack options vertically */
    align-items: center; /* Center options vertically */
  }

  .option {
    flex-basis: auto; /* Reset flex-basis for full width on smaller screens */
    width: 80%; 
    font-size: 13px;
  }
}
